:root {
    --ff-primary: 'Outfit', sans-serif;
    --clr-primary-100: hsl(0, 0%, 100%);
    --clr-primary-200: hsl(212, 45%, 89%);
    --clr-primary-300: hsl(220, 15%, 55%);
    --clr-primary-600: hsl(218, 44%, 22%);
    --fs-p: 15px;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    font-family: var(--ff-primary);
    background-color: var(--clr-primary-200);
    font-size: 1rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: grid;
    place-content: center;
    margin: 1rem;
    padding: 4rem 1rem;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

p {
    font-size: var(--fs-p);
    color: var(--clr-primary-300);
    width: 90%;
    margin: auto;
}
h2 {
    color: var(--clr-primary-600);
}
.container {
    background-color: var(--clr-primary-100);
    padding: 1.2rem 1.2rem 3rem 1.2rem;
    border-radius: 1.2rem;
    display: grid;
    gap: 1.5rem;
}
img {
    border-radius: .9rem;
}
.main-content {
    text-align: center;
    display: grid;
    gap: 1rem;
}

@media (min-width: 600px) {
    .container {
        max-width: 21rem;
    }
}